{% extends '_base.html' %}
{% block title %}About Us{% endblock %}

{% block main %}
  <h1>About Us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo dolorem ullam inventore. Ea porro alias in reprehenderit harum vel saepe, quibusdam molestias odit laboriosam sed rem atque. Omnis, explicabo nesciunt. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim nulla voluptatibus laboriosam consectetur quo quaerat facere, assumenda quam nesciunt nihil similique maiores, iure rerum eius nobis quas expedita culpa numquam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam earum fuga velit, non quas expedita omnis molestias, corrupti, maiores maxime harum suscipit? Quaerat, soluta animi magni enim rerum eligendi rem!</p>
{% endblock %}