/* FORM STYLES */
label {
  font-variant: small-caps;
}

input,
button {
  margin: 0.5rem 0;
}

/* FOOTER STYLES */
footer a.btn-outline-dark {
  border-style: none;
  padding: 0.5em 0.8em;
}

footer a i {
  font-size: 1.5rem;
}

/* CAROUSEL STYLES */
/* .review-container {
  width: 50%;
  height: 30%;
} */
/* .review-item {
  line-height: 300px;
}
.review-text {
  font-size: 25px;
} */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}