{% load common_tags %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'pages:homepage' %}">Play2Learn</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:homepage' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="games" role="button" data-toggle="dropdown" aria-expanded="false">
              Games
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="games">
              <li><a class="dropdown-item" href="{% url 'games:leaderboards' %}">Leaderboards</a></li>
              <li><hr class="dropdown-divider m-0"></li>

              <li><a class="dropdown-item" href="{% url 'games:game' 'math-facts' %}">Math Facts</a></li>
              <li><a class="dropdown-item" href="{% url 'games:game' 'anagram-hunt' %}">Anagram Hunt</a></li>
              {% comment "This would be a better way to do it, but requires knowledge of context_processors"  %}
              {% for game in all_games %}
                <li><a class="dropdown-item" href="{% url 'games:game' game.slug %}">{{ game.game }}</a></li>
              {% endfor %}
              {% endcomment %}
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:about-us' %}">About Us</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="me" role="button" data-toggle="dropdown" aria-expanded="false">
                Me
              </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="me">
                <li><a class="dropdown-item" href="{% url 'users:my-account' %}">My Account</a></li>
                <li><a class="dropdown-item" href="{% url 'users:my-scores' %}">My Scores</a></li>
                <li><a class="dropdown-item" href="{% url 'users:create-review' %}">Leave a Review</a></li>
                <li><hr class="dropdown-divider m-0"></li>
                <li>
                  <form method="post" action="{% url 'account_logout' %}" class="d-flex">
                    {% csrf_token %}
                    <button class="btn dropdown-item m-0">Log out</button> 
                  </form>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Log in</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>