<div class="container-fluid" id="stats-container">
  <div class="row p-2" id="stats-box">
    <div class="border rounded col-auto ">
      <h3>Stats:</h3>
      <ul>
        {% for stat_name, value in stats.items %}
          <li>{{ stat_name }}: {{ value }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-6">
      <h3>Stats</h3>
      <table class="table table-bordered">
        <tbody>
          {% for stat_name, value in stats.items %}
            <tr>
              <td>{{ stat_name }}</td>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div> -->
</div>