{% extends '_base.html' %}
{% load common_filters %}
{% load static %}

{% block scripts %}
  <script>
    const ajaxURL = "{% url 'games:save-score' game.slug %}";
    const isAuthenticated = {{ user.is_authenticated|lower }};
  </script>
    {% with game_js='js/'|add:game.slug|add:'.js' %}
      <script src="{% static game_js %}"></script>
    {% endwith %}
{% endblock %}
{% block title %}{{ game.game }}{% endblock %}

{% block main %}
  <div class="card m-auto col col-md-9 col-lg-6">
    <h1 class="card-header text-center">{{ game.game }}</h1>
    <div class="card-body">
      {% if user.is_anonymous %}
        <p class="mx-auto text-center">Only logged in users can play games.</p>
      {% else %}
        <div id="start">
          <!-- Parameter selection -->
          {% for param in game.parameters.all %}
            <label for="{{ param.slug }}" class="col-4">{{ param.parameter }}</label>
            {% with values=param.values %}
              <select id="{{ param.slug }}" class="col-6">
                {% for value_obj in values.all %}
                  <option value="{{ value_obj.attribute_value }}"
                    {% if value_obj == param.default_value %}
                      selected
                    {% endif %}>{{ value_obj.value }}</option>
                {% endfor %}
              </select>
            {% endwith %}
          {% endfor %}
          <button id="btn-go" class="btn btn-success py-1">Go</button>
          <!-- Directions -->
          <ol id="directions">
            {% for param in game.parameters.all %}
              <li>Choose {{ param.parameter }}.</li>
            {% endfor %}
            <li>Press <samp>Go</samp>.</li>
            <li>How many problems can you solve in <span id="playtime">30</span> seconds?</li>
          </ol>
        </div>
        <div id="play">
          <!-- Specific game html -->
          {% with game_template='games/'|add:game.slug|add:'.html' %}
            {% if game_template|template_exists %}
              {% include game_template %}
            {% else %}
              <p class="mx-auto text-center">This game is currently under construction. Please try again later.</p>
            {% endif %}
          {% endwith %}
          <!-- score -->
          <div id="scoreboard" class="m-auto text-center">
            <strong>Score:</strong>
            <output>0</output>
          </div>
          <!-- timer -->
          <div id="time-left" class="m-auto text-center">
            <strong>Time Left:</strong>
            <output></output>
          </div>
        </div>
        <div id="result" class="m-auto text-center">
          <h3>Time's up!</h3>
          {% csrf_token %}
          <p>Your final score is:</p>
          <output id="final-score" class="display-6 d-block"></output>
          <button id="btn-play-again" class="btn btn-success">Play again</button>
          <output id="ajax-msg" class="display-6 d-block"></output>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}