<div class="m-auto text-center col">
  <h2 id="operation-display"></h2>
  <h3 id="problem" class="display-6"></h3>
  <input id="solution">
</div>
<div id="number-pad" class="m-auto col-6">
  <div class="row">
    <button class="col-3 btn btn-success ml-auto button">1</button>
    <button class="col-3 btn btn-success mx-1 button">2</button>
    <button class="col-3 btn btn-success mr-auto button">3</button>
  </div>
  <div class="row">
    <button class="col-3 btn btn-success ml-auto button">4</button>
    <button class="col-3 btn btn-success mx-1 button">5</button>
    <button class="col-3 btn btn-success mr-auto button">6</button>
  </div>
  <div class="row">
    <button class="col-3 btn btn-success ml-auto button">7</button>
    <button class="col-3 btn btn-success mx-1 button">8</button>
    <button class="col-3 btn btn-success mr-auto button">9</button>
  </div>
  <div class="row">
    <button class="col-3 btn btn-success ml-auto mr-1 button">0</button>
    <button class="col-6 btn btn-success button mr-auto" id="clear">CLEAR</button>
  </div>
</div>