{% extends "_base.html" %}
{% load common_filters %}
{% load common_tags %}

{% block title %}Leaderboards{% endblock %}

{% block main %}
  {% if is_my_scores %}
    <h1>My Scores</h1>
    {% show_stats current_user active_game %}
  {% else %}
    <h1>Leaderboards</h1>
  {% endif %}

  <ul class="nav nav-tabs">
    {% for game in game_list %}
      <li class="nav-item">
        <a class="nav-link
        {% if active_game.game == game.game %}
          active
        {% endif %}" href="{% url tab_path game.slug %}">{{ game.game }}</a>  
      </li>
    {% endfor %}
  </ul>

  <div>
    <form method="get">
      {% for param in game_params %}
        <label for="{{ param.slug }}">{{ param.parameter }}</label>
            <select name="{{ param.slug }}" id="{{ param.slug }}">
              {% for value_obj in param.values.all %}
                <option value="{{ value_obj.slug }}" id="{{ params|get_item:param.slug }}"
                  {% if value_obj.slug == params|get_item:param.slug %}
                    selected
                  {% endif %}>{{ value_obj.value }}</option>
              {% endfor %}
            </select>
        </label>
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
  </div>
  <table class="table table-responsive table-striped">
    <thead>
      <th>Place</th>
      {% if not is_my_scores %}
        <th>User</th>
      {% endif %}
      <th>Score</th>
      <th>Date</th>
    </thead>
    <tbody>
      <!-- for all scores whose parameters match the designated parameters and values -->
      {% for score in scores %}
        <tr>
          <td>{{ forloop.counter }}</td>
          {% if not is_my_scores %}
            <td>{{ score.user }}</td>
          {% endif %}
          <td>{{ score.score }}</td>
          <td>{{ score.created }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}